Input/Output Data Directories
Contacts Input/*
Contact Snapshots/*
Archive Output/*
!Contacts Input/.gitkeep
!Contact Snapshots/.gitkeep
!Archive Outputs/.gitkeep
question_config.yaml
Logs
*.log
contact_converter.log
event_vcfs/*

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 